{%extends 'blacklistApp/base.html'%}
{% load static %}
{% block title %}
{% endblock %}

    {% block content %}

        <header_bar id="header_bar">
             <a href="{% url 'logout'%}?next={{request.path}}" id="abonent_logout1" >Выйти</a>
        </header_bar>
        <sidebar class="flex__jcontent_start" id ="sidebar">
            <div id="logo" class="main_flex__nowrap flex__jcontent_start flex__align-items_center">DARKCHECK</div>

            <nav class="main_nav">
                     <li class="selected">
                         <a href="" class="navigate">Мой кабинет</a>
                     </li>
                    <li class="">
                             <a href="blacklist" class="navigate">Мой ЧС</a>
                    </li>
                    <li class="">
                             <a href="#" class="navigate">Найти</a>
                    </li>
                    <li class="">
                             <a href="#" class="navigate">Обратная связь</a>
                    </li>

            </nav>

        </sidebar>
<!--########################3-->

            <main >
<div class="container demo" style="z-index: 1;">
   <div class="content">
      <div id="large-header" class="large-header">
         <canvas id="demo-canvas"></canvas>
        </div>
      </div>
   </div>

<div class="abonent_profile_box">
            {% if user.is_authenticated %}
    
<div class = "bl_header" >
    <h3>Личные данные:</h3>
  </div>
  <div class = "abonent_profile_item" id="abonent_username">
      <div>Username: {{ user.username }}</div>
      <div>{{ user.get_full_name }}</div>
      <div>Location: {{ user.abonentprofile.location }}</div>
      <div>BIO: {{ user.abonentprofile.bio }}</div>
      <div>Birth Date: {{ user.abonentprofile.birth_date }}</div>
  </div>
   <div class = "abonent_profile_item"></div>
  <div class = "bl_header" >
    <h3>Состояние счета:</h3>
  </div>
  <div class = "abonent_profile_item">
      <div>Статус: активен</div>
      <div>На счету: 350р.</div>
      <div>Подписка: до 10.06.2020 г.</div>

  </div>
    <div class = "abonent_profile_item" id="abonent_logout"><a href="{% url 'login'%}?next={{request.path}}">Logout</a></div>


   <!--{% else %}-->
     <!--<li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>-->
   <!--{% endif %}-->


</div>
        </main>



{% endblock %}
