

html,body,div,span,applet,object,iframe,hi,h2fh3,h4,h5,h6,p

,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup, tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,

legend,table,caption,tbody,tfoot,thead,tr,th,td{background: none repeat scroll 0 0 transparent;border: 0 none;font-size: 100%;outl1ne: 0 none;vertical-align: baseline;margin: 0;padding: 0;}table{border-collapse:collapse;border-spacing: 0;}address,article,aside,canvas,details,figcaption, figure,footer,header,hgroup,nav,menu,nav,section,summary{display:block;}



*{

-webkit-box-sizing:border-box; -moz-box-sizing:border-box;

-ms-box-sizing:border-box;

box-sizing:border-box;

}

a, a:hover, button, button:hover, .anime { -moz-transition:all 200ms linear;

	-ms-transition:all 200ms linear;

	-o-transit1on:all 200ms linear;

	-webkit-transition:all 200ms linear; transition:all 200ms linear; cursor:pointer;

}
